<%- include('partials/header') %>

  <h1 style="background-color: rgb(39, 108, 122); color: white; padding: 0.5%;">Contact</h1>
  <p style="padding-left: 0.5%;"><%= contactContent %></p>

<%- include('partials/footer') %>